.tabcontrol{
  display: flex;
  height: 40px;
  align-items: center;
  text-align: center;
}
.item{
flex: 1;
}
.item.active{
  color: red;
}
.item.active .text{
  padding: 3px;
  border-bottom: 3px solid red;
}